.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
  font-weight: lighter;  
}
body{
  background: #401e52;
  display:flex;
}
#ctitulo{
flex-shrink: 0;
color: #ececec;
}

#menu{
  padding:20px ;
  width: 200px;
  height: 800px;
  background: skyblue;
  align-items: flex-start;
}
.contenedor-producto{
  background: #ececec;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
}
.producto-imagen{
  max-width: 100%;
  background: #189f3c;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
}
.boton_precio{
  background: #401e52;
  padding: 10px;
  border-radius: 10px;
  width: 100%;


  
}
.Boton{
  background: #ececec;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 1px;
}
p{
  margin: 0%;
  padding: 1px;
}