.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
  font-weight: lighter;  
}
body{
  background: #401e52;
  display:flex;
}
#ctitulo{
flex-shrink: 0;
color: #ececec;
}

#menu{
  padding:20px ;
  width: 200px;
  height: 800px;
  align-items: flex-start;
}
.dmenu{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
  font-weight: lighter;
  color: #ececec;
  padding: 15px;
}
#car{
  color: #ececec;
  text-align: center;
  padding: 20px;
}
.contenedor{
  background: #ececec;
  display: flex;
  flex-direction:column;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  width: 90%;
  justify-items: center;
}
#titulo-contenedor{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
  color: #401e52;
  flex-shrink: 0;
}
.contenedor-producto{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  width: 95%;
  height: 95%;
}
.producto-imagen{
  max-width: 100%;
  background: #189f3c;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
}
.boton_precio{
  background: #401e52;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ececec;  
}
.Boton{
  background: #ececec;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 1px;
  color:#401e52;
}
p {
  margin: 0%;
  padding: 1px; 
}
@media(hover:hover){
  .Boton:hover {
    background:#401e52;
    border: 1px solid;
    border-color: #ececec;
    color: #ececec;
  }
}